
h2{
    margin-top: 10px;
    margin-bottom: 16px;
}

.form-check-input:checked{
    background-color: #831515;
    border-bottom-color: #831515;
    border-top-color: #831515;
    border-left-color: #831515;
    border-right-color: #831515;
}

.form-check-input:focus,
.form-check-input.focus:checked {
    box-shadow: 0 0 0 .2rem rgba(131, 21, 21, 0.5);
    border-bottom-color: #831515;
    border-top-color: #831515;
    border-left-color: #831515;
    border-right-color: #831515;
}

.btn-group > .btn-check:focus + .btn, .btn-group > .btn-check.focus + .btn {
    box-shadow: 0 0 0 .2rem rgba(131, 21, 21, 0.5) !important;
}

.btn-outline-primary{
    border-bottom-color: #831515;
    border-top-color: #831515;
    border-left-color: #831515;
    border-right-color: #831515;
    color: #831515;
}

.btn-outline-primary:hover, .btn-check:checked + .btn-outline-primary {
    background-color: #831515;
    color: #fff;
    border-bottom-color: #831515;
    border-top-color: #831515;
    border-left-color: #831515;
    border-right-color: #831515;
}

.form-check.form-check-inline{
    margin-bottom: 8px;
}

#resonance-pick-group{
    margin-top: 10px;
}

#intensity-button{
    margin-bottom: 8px;
}

.container.border.rounded-lg{
    border-radius: 5px;
    max-width: 1140px;
    padding-bottom: 6px;
}

.warning-text{
    color: #831515;
}