<div class='container border rounded-lg'>
  <div class="container">

    <h2>Vampire: The Masquerade Fifth Edition Online Resonance Generator</h2>

    <!--
    <h4>Resonance</h4>
    
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="standard"
        [(ngModel)]="resonanceProbability">
      <label class="form-check-label" for="flexRadioDefault1">
        Standard chance
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="equal"
        [(ngModel)]="resonanceProbability">
      <label class="form-check-label" for="flexRadioDefault2">
        Equal chance
      </label>
    </div>
    -->

    <!--button to allow user to enter a mode to select up to 3 normal dice to reroll-->
    <div>
      <button type='button' class='btn btn-dark btn-lg' (click)='rollResonance()'>
        Roll Resonance
      </button>
    </div>

    <div>
      <div id="resonance-pick-group" class="btn-group" role="group"
        aria-label="group of radio buttons for choosing resonance">
        <ng-template ngFor let-resonance [ngForOf]="resonanceList" let-i="index">
          <input type="radio" class="btn-check" [value]="i" name="btnradio" id="{{'btnradio'+i}}"
            [(ngModel)]="selectedResonance" (ngModelChange)="resonanceSelected()">
          <label class="btn btn-outline-primary" for="{{'btnradio'+i}}">{{resonance}}</label>
        </ng-template>
      </div>
    </div>

    <hr>

    <h4>Intensity</h4>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault3" value="standard"
        [(ngModel)]="intensityProbability">
      <label class="form-check-label" for="flexRadioDefault3">
        Standard Chance
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault4" value="house"
        [(ngModel)]="intensityProbability">
      <label class="form-check-label" for="flexRadioDefault4">
        Higher Intense/Acute Chance
      </label>
      <!--<button type='button' class='btn btn-dark btn-sm' data-bs-target="#collapseOne"> i </button>-->
    </div>

    <!--<div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            House rules have a higher probability of intense/acute resonance than the standard probability given in the
            core rulebook.
          </div>
        </div>
      </div>
    </div>-->

    <div>
      <button id="intensity-button" type='button' class='btn btn-dark btn-lg' (click)='rollIntensity()'>
        Roll Intensity
      </button>
    </div>

    <h5 *ngIf="selectedResonance === -1 && resonanceNotSelected" class="warning-text">Please roll or select resonance before rolling intensity</h5>

    <h5 *ngIf="rolledIntensity>-1">{{intensityList[rolledIntensity]}}</h5>

    <div *ngIf="rolledIntensity>1">Add a die to {{disciplineList[selectedResonance]}} dice pools</div>

    <div *ngIf="rolledIntensity===3">
      <h5>Dyscrasia: {{dyscrasiaList[selectedResonance][rolledDyscrasia].name}}</h5>
      <div>{{dyscrasiaList[selectedResonance][rolledDyscrasia].description}}</div>
    </div>
  </div>
</div>